<div class="card bg-light mb-3 clicked" (click)="restaurantClicked.emit()">
  <h5 class="card-header">{{restaurant.name}}</h5>
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body text-primary">
        <p class="card-text">{{restaurant.address}}</p>
        <p class="card-text"><small class="text-muted"><b>Type of cuisine: </b>{{restaurant.cuisineType}}</small></p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
  </div>
</div>
