<nav class="navbar navbar-light bg-light">
  <img alt="" class="d-inline-block align-top" src="assets/logo_restaurants.png">
</nav>
<div class="container">
  <div class="row">
    <div class="col-5">
      <app-list
        (restaurantClicked)="resturantSelected($event)"
        [restaurants]="restaurants$ | async"></app-list>
    </div>
    <div class="col-7">
      <ng-container *ngIf="restaurantSelected$ | async as restaurantSelected">
        <app-restaurant-details (xClicked)="deselectRestaurant()"
                                [restaurant]="restaurantSelected"
        ></app-restaurant-details>
      </ng-container>
    </div>
  </div>
</div>
